<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean name="bean1" class="mycase.cycle.Bean1">
		<property name="bean2" ref="bean2"/>
	</bean>
	<bean name="bean2" class="mycase.cycle.Bean2">
	</bean>

	<bean name="fac" class="mycase.factory.FactoryBeanTest2"/>

	<bean name="factory" factory-bean="fac" factory-method="getObject"/>

	<bean class="mycase.factory.FactoryBeanTest">
		<constructor-arg name="abc" value="123"/>
	</bean>

	<bean name="containListBean" class="mycase.property.bean.ContainListBean">
		<property name="list">
			<array>
				<value>123</value>
				<value>456a</value>
			</array>
		</property>
	</bean>

	<!-- 实现自定义的日期转换器 -->
	<bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
				<entry key="java.util.Date" value="mycase.property.edit.DatePropertyEditor"/>
			</map>
		</property>
	</bean>
</beans>
